html {
  background-color: #fff;
  height: 100%;
}
body {
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#divConsole, #divBanner{
	padding: 10px;
	margin: 10px;
	width: 75%;
}
#divConsole {
	font-family: monospace;
	height: 300px;
	border: 2px solid #803980;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #803980;
	overflow-x: auto;
}
input[type="text"] {
	background-color: transparent;
	color:black;
	outline: 0px;
	top: 0px;
	width: 85%;
	border: 0px;
}
#tcPrompt {
	color: #8F4E8B;
  font-weight: bold;	
}
#divBanner{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px #8F4E8B, 0 0 5px;
}
