<!DOCTYPE html>
<html data-ng-app="tc-demo">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="css/demo.css" rel="stylesheet">
		<title>Tutor Console</title>
		<script src="../../bower_components/jquery/dist/jquery.js"></script>
		<script src="../../bower_components/angular/angular.js"></script>
		<script src="../../dist/angular-tutor-console.js"></script>
		<script src="tc-demo.js"></script>
	</head>
	<body data-ng-controller="DemoCtrl as demo">
		<div id="divBanner">Welcome {{demo.console.getOptions().banner}}</div>
		<div id="divConsole">
			<tc-console id-parent='divConsole' console='demo.console'
				options='demo.options'/>
		</div>
	</body>
</html>
